<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重置密码</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
           {% for message in messages %}
              <div id="flash-message" class="flash_msg">{{ message }}</div>
           {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        <h2>重置密码</h2>
        <input type="email" id="reset_email" name="email" placeholder="邮箱" required><br>
        <button type="button" id="send_reset_email">发送验证码</button><br>
        <input type="text" name="email_code" placeholder="请输入邮箱验证码" required><br>
        <input type="password" name="new_password" placeholder="新密码" required><br>
        <input type="submit" value="重置密码">
    </form>
    <a href="/login">返回登录</a>

    <script>
        $('#send_reset_email').click(function() {
            const email = $('#reset_email').val();
            $.post('/send_email', { email: email }, function(data) {
                alert(data.message);
            });
        });
    </script>
</body>
</html>
