* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}


.input-group input[readonly] {
    background-color: #e9ecef; /* 浅灰色背景 */
    cursor: not-allowed;       /* 更改鼠标指针样式 */
}

.flash_msg{
    position: absolute; /* 绝对定位相对于 .container */
    top: 10px; /* 距离上边距 10 像素 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 通过负半宽度进行精确居中 */
    background-color: rgba(173, 216, 230, 0.8); /* 半透明淡蓝色 */
    color: #000; /* 文本颜色为黑色 */
    padding: 5px 10px; /* 内边距 */
    border-radius: 5px; /* 边角圆滑 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    font-size: 14px; /* 字体大小 */
    display: flex; /* 可选：使内容居中 */
    justify-content: center; /* 可选：水平方向居中 */
    align-items: center; /* 可选：垂直方向居中 */
}