* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
button {
    background: transparent;
    border: 0;
    outline: none;
}

body {
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #03e9f4;
}

.loginBox {
    width: 400px;
    height: 580px;
    background-color: #0c1622;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .6);
    padding: 40px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.item {
    height: 45px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    position: relative;
}

.item input {
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    box-sizing: border-box;
}

.item input:focus+label,
.item input:valid+label {
    top: 0px;
    font-size: 12px;
}

.item label {
    position: absolute;
    left: 0;
    top: 12px;
    transition: all 0.5s linear;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    color: #03e9f4;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 35%;
}

.btn:hover {
    border-radius: 5px;
    color: #fff;
    background: #03e9f4;
    box-shadow: 0 0 5px 0 #03e9f4,
        0 0 25px 0 #03e9f4,
        0 0 50px 0 #03e9f4,
        0 0 100px 0 #03e9f4;
    transition: all 1s linear;
}

.btn>span {
    position: absolute;
}

.btn>span:nth-child(1) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, transparent, #03e9f4);
    left: -100%;
    top: 0px;
    animation: line1 1s linear infinite;
}

@keyframes line1 {

    50%,
    100% {
        left: 100%;
    }
}

.btn>span:nth-child(2) {
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #03e9f4);
    right: 0px;
    top: -100%;
    animation: line2 1s 0.25s linear infinite;
}

@keyframes line2 {

    50%,
    100% {
        top: 100%;
    }
}

.btn>span:nth-child(3) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, #03e9f4, transparent);
    left: 100%;
    bottom: 0px;
    animation: line3 1s 0.75s linear infinite;
}

@keyframes line3 {

    50%,
    100% {
        left: -100%;
    }
}

.btn>span:nth-child(4) {
    width: 5px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #03e9f4);
    left: 0px;
    top: 100%;
    animation: line4 1s 1s linear infinite;
}

@keyframes line4 {

    50%,
    100% {
        top: -100%;
    }
}

/* 修改发送验证码按钮样式 */
#send_reset_email {
    background-color: #007bff; /* 根据需要更改颜色 */
    margin-bottom: 20px; /* 添加底部间距 */
}

/*!* 修改提交按钮样式 *!*/
/*button[type="submit"].btn {*/
/*    margin-top: 20px; !* 添加顶部间距 *!*/
/*}*/



.innerBox {
    width: 100%; /* 与 .loginBox 的宽度一致 */
    margin-top: 10px; /* 可以根据需要调整上边距 */
    background-color: transparent; /* 背景颜色透明 */
    border-radius: 10px; /* 保持圆角一致 */
    box-shadow: none; /* 移除阴影 */
    padding: 20px; /* 根据需要调整内边距 */
    box-sizing: border-box; /* 确保 padding 不会影响元素的总宽度 */
    position: relative; /* 使子元素可以相对于 .innerBox 定位 */
    text-align: center; /* 使内容水平居中 */
}

.flash_msg{
    position: absolute; /* 绝对定位相对于 .container */
    top: 10px; /* 距离上边距 10 像素 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 通过负半宽度进行精确居中 */
    background-color: rgba(173, 216, 230, 0.8); /* 半透明淡蓝色 */
    color: #000; /* 文本颜色为黑色 */
    padding: 5px 10px; /* 内边距 */
    border-radius: 5px; /* 边角圆滑 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    font-size: 14px; /* 字体大小 */
    display: flex; /* 可选：使内容居中 */
    justify-content: center; /* 可选：水平方向居中 */
    align-items: center; /* 可选：垂直方向居中 */
}