*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}
body{
    /* 100%窗口高度 */
    height: 100vh;
    /* 弹性布局 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 渐变背景 */
    background: linear-gradient(200deg,#e3c5eb,#a9c1ed);
    /* 溢出隐藏 */
    overflow: hidden;
}
.container{
    /* 相对定位 */
    position: relative;
    z-index: 1;
    /* background-color: #fff; */
    background-color: linear-gradient(200deg,#e3c5eb,#a9c1ed);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 580px;
    /* 阴影 */
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.container .tit{
    font-size: 26px;
    margin: 65px auto 70px auto;
}
.container input{
    width: 280px;
    height: 30px;
    text-indent: 8px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 12px 25px;
    outline: none;
}
.container button{
    width: 280px;
    height: 40px;
    margin: 35px auto 40px 30px;
    border: none;
    background: linear-gradient(-200deg,#fac0e7,#aac2ee);
    color: #fff;
    letter-spacing: 8px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    /* 动画过渡 */
    transition: 0.5s;
}
.container button:hover{
    background: linear-gradient(-200deg,#aac2ee,#fac0e7);
    background-position-x: -280px;
}
.container span{
    font-size: 14px;
    margin: 20px auto;

}
.container a{
    color: plum;
    text-decoration: none;
}
ul li{
    /* 绝对定位 */
    position: absolute;
    border: 1px solid #fff;
    background-color: #fff;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 0;
}
.square li{
    top: 40vh;
    left: 60vw;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: square 10s linear infinite;
}
.square li:nth-child(2){
    top: 80vh;
    left: 10vw;
    /* 设置动画延迟时间 */
    animation-delay: 2s;
}
.square li:nth-child(3){
    top: 80vh;
    left: 85vw;
    animation-delay: 4s;
}
.square li:nth-child(4){
    top: 10vh;
    left: 70vw;
    animation-delay: 6s;
}
.square li:nth-child(5){
    top: 10vh;
    left: 10vw;
    animation-delay: 8s;
}
.circle li{
    bottom: 0;
    left: 15vw;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: circle 10s linear infinite;
}
.circle li:nth-child(2){
    left: 35vw;
    /* 设置动画延迟时间 */
    animation-delay: 2s;
}
.circle li:nth-child(3){
    left: 55vw;
    animation-delay: 6s;
}
.circle li:nth-child(4){
    left: 75vw;
    animation-delay: 4s;
}
.circle li:nth-child(5){
    left: 90vw;
    animation-delay: 8s;
}

/* 定义动画 */
@keyframes square {
    0%{
        transform: scale(0) rotateY(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
    }
}
@keyframes circle {
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
    100%{
        transform: scale(5) rotate(1000deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 50%;
    }
}

#aaa {
            /* 让弹出来的文字不被选中，影响操作体验 */
            user-select: none;
            cursor: default;
            font-size: 20px;
            color: blanchedalmond;
            position: absolute;
            transition: 1s;
        }

input[type="checkbox"] {
    width: 20px;  /* 设置宽度 */
    height: 20px; /* 设置高度 */
    margin: 0 20px;
}
label {
        display: inline-block;
        font-size: 14px; /* 设置字体大小 */
        text-align: center; /* 设置文字居中 */
        margin: 0 auto;
    }
#t{
    color: red;
}

input[type="submit"] {
    width: 280px;
    height: 40px;
    margin: 35px auto 40px 30px;
    border: none;
    background: linear-gradient(-200deg,#fac0e7,#aac2ee);
    color: #fff;
    letter-spacing: 8px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    /* 动画过渡 */
    transition: 0.5s;
}

input[type="submit"]:hover {
    background: linear-gradient(-200deg,#aac2ee,#fac0e7);
    background-position-x: -280px;
}

#captcha {
    display: block;
    margin: auto;
    width: 40%;
}


.flash_msg{
    position: absolute; /* 绝对定位相对于 .container */
    top: 10px; /* 距离上边距 10 像素 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 通过负半宽度进行精确居中 */
    background-color: rgba(173, 216, 230, 0.8); /* 半透明淡蓝色 */
    color: #000; /* 文本颜色为黑色 */
    padding: 5px 10px; /* 内边距 */
    border-radius: 5px; /* 边角圆滑 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    font-size: 14px; /* 字体大小 */
    display: flex; /* 可选：使内容居中 */
    justify-content: center; /* 可选：水平方向居中 */
    align-items: center; /* 可选：垂直方向居中 */
}

/*#send_register_email {*/
/*    padding: 10px 20px;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*.disabled {*/
/*    pointer-events: none; !* 禁止点击 *!*/
/*    opacity: 0.6; !* 降低透明度表示不可点击 *!*/
/*}*/